@page "/employees"
@inject BlazorCRUDApp.Data.IEmployeeService EmployeeService;

<h3>Employees</h3>
<br />

<a class="btn btn-dark" href="employee/0">Add Employee</a>
<br />


<table class="table">
    <thead>
        <tr>
            <td>Id</td>
            <td>Name</td>
            <td></td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var employee in employees)
        {
            <tr>
                <td>@employee.Id</td>
                <td>@employee.Name</td>
                <td>
                    <a href="employee/@employee.Id">
                        Edit
                    </a>
                </td>
                <td>
                    <button class="btn btn-danger" @onclick="@(e=> OnDelete(employee.Id))">Delete</button>
                </td>
            </tr>
        }

    </tbody>
</table>

@code {
    private List<BlazorCRUDApp.Data.Employee> employees;

    protected override void OnInitialized()
    {
        employees = EmployeeService.GetEmployees();
    }

    private void OnDelete(Guid id)
    {
        EmployeeService.DeleteEmployee(id);
    }

}
